@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
body {
    padding: 0;
    margin: 0;
}

.c-modal>* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.c-modal {
    display: none;
}

.c-modal.active {
    display: block;
}

.c-modal .c-modal-content {
    width: 630px;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 48px;
    /* height: 210px; */
    text-align: center;
    transition: 0.3s all ease;
}

.c-modal .c-modal-content h4 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    color: #000;
    letter-spacing: 0.4px;
    margin: 0;
    text-align: center;
}

.c-modal .c-modal-content h5 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
    color: #000;
    letter-spacing: 0.4px;
    margin: 0;
    text-align: center;
}

.c-modal .c-modal-content img {
    width: 70px;
    height: 70px;
}

.c-modal .c-modal-content h4+img {
    margin-top: 25px;
}

.c-modal .c-progress-bar {
    width: 100%;
    height: 34px;
    border-radius: 4px;
    margin-top: 30px;
    box-shadow: 0 10px 24px rgba(0, 0, 0, .18);
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.c-modal .c-progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    line-height: 34px;
    height: 100%;
    transition: 0.5s opacity ease;
}

.c-modal .progress-start {
    -webkit-animation: progress 5s linear forwards;
    animation: progress 5s linear forwards;
}

.c-modal .progress-green {
    background-color: #15C900;
}

.c-modal .progress-red {
    background-color: #FF0000;
}

.c-modal .text-red {
    color: #FF0000;
}

.c-modal .c-modal-content .slide {
    display: none;
    transition: 0.5s all ease;
}

.c-modal .c-modal-content .slide.active {
    display: block;
}

.c-modal .blink {
    -webkit-animation: blink 0.6s ease infinite;
    animation: blink 0.6s ease infinite;
}

.c-modal .font-bold {
    font-weight: 700 !important;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes progress {
    0% {
        background-color: #15C900;
        width: 0;
    }
    50% {
        background-color: #15C900;
    }
    60% {
        background-color: #FF0000;
    }
    100% {
        width: 95%;
        background-color: #FF0000;
    }
}

@keyframes progress {
    0% {
        background-color: #15C900;
        width: 0;
    }
    50% {
        background-color: #15C900;
    }
    60% {
        background-color: #FF0000;
    }
    100% {
        width: 95%;
        background-color: #FF0000;
    }
}

@media (max-width:767px) {
    .c-modal .c-modal-content {
        padding: 20px;
    }
    .c-modal .c-modal-content h4 {
        font-size: 22px;
        line-height: 30px;
    }
    .c-modal .c-modal-content h5 {
        font-size: 30px;
    }
    .c-modal .c-progress-bar {
        height: 28px;
        margin-top: 20px;
    }
    .c-modal .c-progress {
        line-height: 28px;
    }
}